<%= render 'search' %>

<% if !@documents.nil? %>
  <h1>RESULTS</h1>
  <% @documents.each do |document| %>
      <% if document["title"] %>
        <h3>title: <%= document["title"][0] %></h3>
      <% end %>
      <% if document["author"] %>
        <h4>author: <%= document["author"][0] %></h4>
      <% end %>
      <hr>
      <% document["pdfLink"].each do |link| %>
        <a href="<%= link %>"><%= link %></a><br><br>
      <% end %>
  <% end %>
<% elsif !@ads.nil? %>
  <% @ads.each do |ad| %>

    <% if ad["title"] %>
      <h3><a href="#">title: <%= ad["title"] %></a></h3>
    <% end %>

    <% if ad["price"] %>
      <h4>price: $ <%= ad["price"] %></h4>
    <% end %>

    <% if ad["content"] %>
      <p><%= ad["content"] %></p>
    <% end %>

    <% if ad["preferred_contact"] %>
      <span><b>contact:</b></span> <span><%= ad["preferred_contact"] %></span>
    <% end %>
    <br>
    <% if ad["location"] %>
      <span><b>location:</b></span> <span><%= ad["location"] %></span>
    <% end %>
    <hr>
  <% end %>
<% else %>
  <h1>Your Search Returned no results</h1>
<% end %>
