<h1>Update your User profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <p><%= f.label :name %></p>
      <%= f.text_field :name %>
      <br>
      <p><%= f.label :email %></p>
      <%= f.text_field :email %>
      <br>
      <p><%= f.label :school %></p>
      <%= f.text_field :school %>
      <br>
      <p><%= f.label :password %></p>
      <%= f.password_field :password %>
      <br>
      <p><%= f.label :password_confirmation, "Confirmation" %></p>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Update account", class: "btn btn-large btn-primary" %>
    <% end %>

      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>
  </div>
</div>
