<h1>
  <%= gravatar_for @user %>
  <br>
  name: <%= @user.name %>
  <br>
  email: <%= @user.email %>
  <br>
  school: <%= @user.school %>
  <br>
</h1>

<% if ( current_user?(@user) || (current_user.admin? && !current_user?(@user))) %>
  <%= link_to "delete account", @user, method: :delete, data: { confirm: "are you sure?" } %>
<% end %>

<div class="row">
  <div class="span8">
    <% if current_user?(@user) && @user.advertisements.any? %>
      <ol class="advertisements">
        <h3>My advertisements (<%= @user.advertisements.count %>)</h3>
        <%= render @advertisements %>
      </ol>
      <%= will_paginate @advertisements %>
    <% end %>
  </div>
</div>
